<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SignUp Page </title>
    <link rel="stylesheet" href="./css/register.css">
  </head>
  <body>
    <div class="center">
      <h1>Sign Up</h1>
      <form action="/register" method="post">
        <div class="txt_field">
          <input type="text" name="firstName" id="firstName" required>
          <!-- <span></span> -->
          <label>First Name</label>
        </div>
        <div class="txt_field">
          <input type="text" name="lastName" required>
          <!-- <span></span> -->
          <label>Last Name</label>
        </div>
        <div class="txt_field">
          <input type="email" name="email" required>
          <!-- <span></span> -->
          <label>E-mail</label>
        </div>
        <div class="txt_field">
          <input type="number" name="UNetID" minlength="7" maxlength="7" required>
          <!-- <span></span> -->
          <label>UNetID</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" id="password" required>
          <!-- <span></span> -->
          <label>Password</label>
        </div>
        <div class="txt_field">
          <input type="password" name="confirmPassword" id="secondPassword" onblur="verifyPassword()" required>
          <!-- <span></span> -->
          <label> Re-enter Password</label>
        </div>
        <input type="submit" onsubmit="submit()" value="Sign up">
        <div class="login_link">
          Already a member? <a href="/login">Login</a>
        </div>
      </form>
    </div>

    <!-- <script type="text/javascript">
    let pwd1 = document.getElementById("password");
    let pwd2 = document.getElementById("secondPassword");
      
    const verifyPassword = () => {
      if(pwd1.value != pwd2.value) {
          pwd2.style.border = "2px solid red";
      }
      else{
        pwd2.style.border = "none";
      }
    }

      
    </script> -->
  </body>
</html>
